<section>
    <div class="w-4/5 rounded-md mx-auto h-4/6 translate-y-1/2 p-5 md:p-[5rem] " id='main'>
        <div class="text-center font-semibold text-3xl  md:text-5xl  ">
            <h1>YOUR WELCOME TO</h1>
            <h1 class="uppercase">Luxshoery</h1>
        </div>
        <div class="mt-5 flex ">
            <a href="" class="mx-auto px-3 py-2 border-2 border-black rounded-md">START</a>
        </div>
        <img src="/img/converse.png" class="mt-5 mx-auto md:mt-0 object-contain" alt="">

        <div class="grid grid-cols-1 gap-3 mt-[5rem] md:grid-cols-3  text-white" >
            <div class="bg-gray-900 shadow-sm p-5 rounded-md ">
                <h2 class="font-bold text-3xl mb-2">ทำไมต้องที่นี้?</h2>
                <p>Luxshoery มีรับประกันฟรี 2 วัน ของแทร่ผ่านโรงเกลือ มีปัญหาไม่รับคืน</p>
            </div>
            <div class="bg-gray-900 shadow-sm p-5 rounded-md ">
                <h2 class="font-bold text-3xl mb-2">ของแท้มั้ย ?</h2>
                <p>ถึงของจะไม่แท้ แต่คนขายของแทร่แน่นอน </p>
            </div>
            <div class="bg-gray-900 shadow-sm p-5 rounded-md ">
                <h2 class="font-bold text-3xl mb-2">บริการ</h2>
                <p>Luxshoery มีบริการใส่และขโมยถึงบ้าน</p>
            </div>
        </div>

        <div class="w-full flex mx-auto mt-5">
            <a href="" class="mx-auto border-2 px-3 py-2 border-gray-900 rounded-md shadow-md">เลือกซื้อสินค้า !</a>
        </div>
    </div>
</section>
