<div class="w-4/5 mx-auto">
    <table class="table-auto w-full">
        <thead class="uppercase text-white bg-gray-900 rounded-md w-full">
            <tr>
                <th class="px-6 py-3">อีเมล</th>
                <th class="px-6 py-3">รหัสผ่าน</th>
                <th class="px-6 py-3">เงิน</th>
                <th class="px-6 py-3">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((v) => {  %>
                <% if (!v.info.admin) { %>
                    <tr class="text-center bg-gray-50 border-b-2">
                        <td class="px-6 py-3"><%= v.info.email %></td>
                        <td class="px-6 py-3"><%= v.info.password %></td>
                        <td class="px-6 py-3"><%= (v.info.price ) ?? 0 %></td>
                        <td class="px-6 py-4">
                            <form action="/admin/<%= v._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
</div>